@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #1D1D1D;
  --container-bg-color: #1A1A1A;
  --container-border-color: #484848;
  
  --tech-used-color: #F8FB85;
  --issue-number-color: #7AF865;

  --main-text-color: #E2E1E1;
  --primary-header-color: #E2E1E1;
  --secondary-header-color: #80BDD0;
  --section-header-color: #888DFF;

  --button-bg-color: #888DFF;
  --button-fg-color: #1D1D1D;

  --beginner-tag-color: hsl(126, 56%, 65%);
  --intermediate-tag-color: hsl(40, 56%, 65%);
  --advanced-tag-color: hsl(0, 56%, 65%);

  --global-padding: 1rem;
  --global-margin: 1rem;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
}

