
.formContainer {
  background-color: var(--container-bg-color);
  border:  solid 1px var(--container-border-color);
  padding: 1rem;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContainer form fieldset {
  border: none;
}

.formContainer form label {
  padding-bottom: .5rem;
  display: inline-block;
}

.formHeader {
  color: var(--secondary-header-color);
  border-bottom: solid 1px var(--secondary-header-color);
  margin-bottom: .5rem;
}

.submitButton {
  font-family: inherit;
  font-size: 1.25rem;
  background-color: var(--container-border-color);
  color: var(--container-bg-color);
  border: solid 1px var(--main-bg-color);
  border-radius: 10px;
  padding: .25rem 1rem;
}
.submitButton:active {
  filter: brightness(1.25);
}
.languageSelect {
  font-family: inherit;
  background-color: var(--container-bg-color);
  border: solid 1px var(--container-border-color);
  color: var(--main-text-color);
  width: 100%;
  font-size: 1.25rem;
}

.diffAbout {
  font-size: .75rem;
  color: lightgoldenrodyellow;
}
.difficultyLevelSelector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;;
}
.difficultyLevelSelector span.selected {
  border: none;
  color: var(--container-bg-color);
}

.difficultyLevelSelector span {
  padding: .25rem 1rem;
  border-radius: 10px;
  border: solid 1px var(--main-text-color);
  color: var(--text-color);
  cursor: pointer;
  text-align: center;
}

.difficultyLevelSelector span:hover {
  filter:brightness(1.25);
}

.allSelector.selected {
  background-color: #c248c2;
}

.beginnerSelector.selected {
  background-color: var(--beginner-tag-color);
}

.intermediateSelector.selected {
  background-color: var(--intermediate-tag-color);
}

.advancedSelector.selected {
  background-color: var(--advanced-tag-color);
}

@media screen and (min-width: 700px) {
  .difficultyLevelSelector {
    display: flex;
    gap: 1rem;
  }
}